<footer class=" footer">
    <div class=" container-fluid">
      <ul class=" nav">
        <li class=" nav-item">
          <a class=" nav-link" href="https://www.doitminka.com">
            Minka
          </a>
        </li>
        <li class=" nav-item">
          <a class=" nav-link" href="https://www.doitminka.com/about-us?ref=bda-footer">
            About Us
          </a>
        </li>
        <li class=" nav-item">
          <a class=" nav-link" href="https://www.doitminka.com?ref=bda-footer"> Politica de Privacidad </a>
        </li>
      </ul>
      <div class=" copyright">
        &copy; {{ test | date: "yyyy" }} made with
        <i class=" tim-icons icon-heart-2"> </i> by
        <a href="" target="_blank"> romanfullstack.com </a>
        do web better.
      </div>
    </div>
  </footer>
  