<div class="logo align-items-center ">
  
  <div class="logo-img d-flex m-1 mt-1 p-1">
    <a href="" class="mt-1 ">
        <img src="../assets/img/logo_minka.png" />
      </a>
    </div>

    <div class="logo-text ml-3 mt-2 pl-4 " >
    <a href="" class="simple-text logo-normal ">
      <h3 class="m-0">INK'A</h3>
    </a>
  </div>
  </div>
<div class="sidebar-wrapper">
  <ul class="nav">
    <li
      routerLinkActive="active"
      *ngFor="let menuItem of menuItems"
      class="{{ menuItem.class }} nav-item"
    >
      <a [routerLink]="[menuItem.path]">
        <i class="tim-icons  {{ menuItem.icon }}"></i>
        <p>{{ menuItem.title }}</p>
      </a>
    </li>
  </ul>
</div>
