
<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h5 class=" title">Conoce los perfiles que estás buscando para colaborar en tu proyecto.</h5>
          <h2 class=" ">
            MatchFinder 
          </h2>
        </div>
        <div class=" card-body all-icons">
          <div class=" row">
            <div class=" col-md-6">
              <div class=" card card-user">
                <div class=" card-body">
                  <p class=" card-text"></p>
                  <div class=" author">
                    <div class=" block block-one"></div>
                    <div class=" block block-two"></div>
                    <div class=" block block-three"></div>
                    <div class=" block block-four"></div>
                    <a href="javascript:void(0)">
                      <img alt="..." class=" avatar" src="../../../assets/img/mauricio_avatar.jpg" />
        
                      <h5 class=" title">Mauricio Jauregui Lauffer</h5>
                    </a>
                    <p class=" description">CEO. Fundador de Mink'a.</p>
                  </div>
                  <div class=" card-description">
                    "Mink'a es la plataforma en línea de contratos. Es el lugar donde los profesionales se encuentran con otros profesionales. Donde los proyectos industriales se hacen realidad. Donde los grandes sueños pueden convertirse en metas simples y su logro consiste en planificar mucho, trabajar duro y estar inspirado para hacer del mundo un lugar mejor. ¡Bienvenido a la comunidad profesional! ¡Bienvenido a Mink'a!"
                  </div>
                </div>
                <div class=" card-footer">
                  <div class=" button-container">
                    <button
                      class=" btn btn-icon btn-round btn-facebook"
                      href="javascript:void(0)"
                    >
                      <i class=" fab fa-facebook"> </i>
                    </button>
                    <button
                      class=" btn btn-icon btn-round btn-twitter"
                      href="javascript:void(0)"
                    >
                      <i class=" fab fa-twitter"> </i>
                    </button>
                    <button
                      class=" btn btn-icon btn-round btn-google"
                      href="javascript:void(0)"
                    >
                      <i class=" fab fa-google-plus"> </i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class=" col-md-6">
              <div class=" card card-user">
                <div class=" card-body">
                  <p class=" card-text"></p>
                  <div class=" author">
                    <div class=" block block-one"></div>
                    <div class=" block block-two"></div>
                    <div class=" block block-three"></div>
                    <div class=" block block-four"></div>
                    <a href="javascript:void(0)">
                      <img alt="..." class=" avatar" src="../../../assets/img/romanAva.jpg" />
        
                      <h5 class=" title">Roman Kostyuchenko</h5>
                    </a>
                    <p class=" description">Frontend Developer. Co-Fundador de Mink'a.</p>
                  </div>
                  <div class=" card-description">
                    "¡Bienvenido a Mink'a! Aunque te encuentras en la versión demo, ya puedes vislumbrar la semilla que hemos plantado. Estamos creando una plataforma, un espacio y una comunidad en línea para los proyectos cotidianos en la vida real. Nuestro objetivo es desarrollar una aplicación que sea útil para ti. Desde el principio, hemos pensado y cuidado cada píxel de Mink'a para facilitar, hacer más productiva y eficiente la contratación de profesionales en el sector de la Industria."
                  </div>
                </div>
                <div class=" card-footer">
                  <div class=" button-container">
                    <button
                      class=" btn btn-icon btn-round btn-facebook"
                      href="javascript:void(0)"
                    >
                      <i class=" fab fa-facebook"> </i>
                    </button>
                    <button
                      class=" btn btn-icon btn-round btn-twitter"
                      href="javascript:void(0)"
                    >
                      <i class=" fab fa-twitter"> </i>
                    </button>
                    <button
                      class=" btn btn-icon btn-round btn-google"
                      href="javascript:void(0)"
                    >
                      <i class=" fab fa-google-plus"> </i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
        
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
