

<nav class="navbar navbar-expand navbar-dark bg-transparent px-3">
  <div class="navbar-nav">
    <a class="navbar-brand mt-3" href="#">
      <img src="assets/img/logo_minka.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-bottom">
      INK'A
    </a>
      
  </div>
</nav>
<section class="background-section bg-danger" style="background-image: url('../../assets/img/team_work_1.png'); background-size: cover; background-position: center; height: 400px;">

</section>
<section class="py-5 text-center container" >
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="font-weight-light">Mink'a. Plataforma en línea para contratos.</h1>
      <p class="lead text-muted">Bienvenido a la <strong>Revolución Industrial 4.0.</strong><br>  El revolucionario concepto de RRHH está aquí.<br> 
       </p>
       <div>
      
        <p class="d-flex justify-content-center">
          
          <a href="https://youtu.be/BH9B_J9HNBs" target="_blank">Ver video en   <i class="tim-icons icon-video-66

            "></i> YouTube</a>
        </p>
       </div>
     
      <p>
        <a  class="btn btn-primary my-2" (click)="redirectToLogin()">Iniciar sesión</a>
        <a  class="btn btn-secondary my-2" (click)="redirectToRegister()">Registrarse</a>
      </p>
    </div>
  </div>
</section>



<div class="container mt-2">
  <div class="carousel-wrapper">
    <div id="carouselExampleCaptions" class="carousel carousel-dark slide" data-bs-ride="false">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        
        <div class="carousel-item active">
          <img src="../../assets/img/eolicaIndustry.jpg" class="d-block w-100" alt="...">
          <div class="carousel-dark carousel-caption d-none d-sm-block">
            <h3 style="color: white;">INDUSTRIA ENERGÉTICA</h3>
            <p style="color: white;">Construyamos juntos un futuro sostenible y prometedor. </p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../../assets/img/auto3d.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-sm-block">
            <h3 style="color: white;">AUTOMATIZACIÓN</h3>
            <p style="color: white;">Facilitar la contratación de expertos en automatización y asegurar que las empresas encuentren el talento adecuado para llevar a cabo sus proyectos.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../../assets/img/arquit1.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-sm-block">
          
            <h3 style="color: white;">DISEÑO DE ARQUITECTURA</h3>
            <p style="color: white;">Contamos con un equipo de arquitectos altamente capacitados y experimentados que están listos para transformar tus ideas en realidad.</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <section class="mt-3">
    <div class="accordion accordion-flush " id="accordionFlushExample">
      <div class="accordion-item" style="background-image: url('../../assets/img/landingMinka.jpg');">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed bg-success" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" 
          style="color: white"
          aria-controls="flush-collapseOne"
          >
            Nuestra misión
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body" style="color: white;">Trabajamos para facilitar y agilizar el proceso de contratación, brindando a las empresas y a los profesionales una herramienta confiable y eficiente para conectarse y colaborar.</div>
        </div>
      </div>
      <div class="accordion-item " style="background-image: url('../../assets/img/landingMinka.jpg');">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button class="accordion-button collapsed bg-success" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo"
          style="color: white">
            Nuestra visión
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body" style="color: white">Todos en la plataforma: ya sea un cliente, un contratista o un empleado de nuestra empresa, son un eslabón importante en la cadena de un proyecto exitoso. Este es el lugar donde los profesionales se encuentran entre sí.</div>
        </div>
      </div>
      <div class="accordion-item " style="background-image: url('../../assets/img/landingMinka.jpg');">
        <h2 class="accordion-header" id="flush-headingThree">
          <button class="accordion-button collapsed bg-success" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree"
          style="color: white">
            Nuestro objetivo 
          </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body" style="color: white">Crear una <strong>comunidad de profesionales</strong>  en Mink'a. Juntos mejoramos, juntos nos volvemos más eficientes y productivos.</div>
        </div>
      </div>
    </div>
  </section>

    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="font-weight-light">¿Por qué las personas eligen Mink'a?</h1>
          <p class="lead text-muted">Según Wikipedia, Mink'a significa "trabajo comunal". En quechua, significa "pedir ayuda prometiendo algo". Nuestra misión aquí es crear, apoyar y mejorar juntos el entorno en el que las personas crean proyectos para la vida. </p>
          <p>
            Las 10 agencias de empleo temporal más grandes de España generan más de 2.600 millones de euros de ingresos anuales en conjunto. La industria paga mucho por empleados temporales o especialistas autónomos. Los profesionales que trabajan para agencias de empleo temporal reciben salarios por debajo de su valor en el mercado. Muchos de estos profesionales son altamente calificados y capaces de trabajar de forma autónoma. Es por eso que hemos creado Mink'a, que brinda una solución para que los profesionales sean contratados y ejecuten proyectos en entornos industriales.
          </p>

          <p>
            <a  class="btn btn-primary my-2" (click)="redirectToLogin()">Empezar</a>
           
          </p>
     
        </div>
      </div>
    </section>
    

     


  </div>