
<div class=" content">

    <div class="d-lg-flex justify-content-center align-content-center">
      <div class=" card">
        <div class=" card-header mb-5">
          <h5 class=" card-category">Fecha efectiva: 21/06/2023</h5>
          <h3 class=" card-title">
          </h3>
        </div>
        <div class=" card-body">
          <div class=" typography-line">
            <h4 class="text-success"><span> Mink'a.</span> Política de Privacidad.
            </h4>
          </div>
  
          <div class=" typography-line">
            <p>
              <span> En Mink'a </span>  operado por Mink'a S.C.P., con sede en CP 08301 Mataró, Barcelona, Spain, nos comprometemos a proteger tu privacidad en línea y a mantener la confidencialidad de la información personal que puedas proporcionarnos mientras utilizas nuestra web app. Esta política de privacidad describe cómo recopilamos, utilizamos y protegemos tu información personal.

            </p>
          </div>
      
  
          <div class=" typography-line">
        
            <div class=" row">
          
              <div class="">
                
                <ol>
                  <li><strong>Información recopilada</strong><br> Podemos recopilar información personal identificable, como tu nombre, dirección de correo electrónico, datos de contacto y ubicación (a través de GPS) cuando te registras o utilizas nuestros servicios. Además, al utilizar la API de Linkedin para el inicio de sesión, podemos recopilar información adicional que permitas compartir según la configuración de tu cuenta de Linkedin. También podemos recopilar información a través de la integración de mapas para proporcionar funcionalidades basadas en la ubicación.
                  </li><br>
                  <li><strong>Uso de la información</strong><br> Utilizamos la información recopilada para brindarte acceso a nuestros servicios, mejorar tu experiencia de usuario y comunicarnos contigo en relación con tu uso de la web app. Podemos utilizar los datos de ubicación recopilados a través de GPS para ofrecerte funcionalidades basadas en la ubicación. Además, podemos utilizar tu información personal para enviar comunicaciones comerciales y promocionales, siempre y cuando hayas dado tu consentimiento para recibirlas.
                  </li><br>
                  <li><strong>Divulgación de información</strong><br> No compartiremos tu información personal con terceros sin tu consentimiento expreso, a menos que sea requerido por ley o en cumplimiento de una orden judicial. Sin embargo, es posible que compartamos información no personal de forma agregada y anónima con terceros para fines estadísticos o de investigación. Al utilizar la API de Linkedin y la integración de Google Analytics, ten en cuenta que tus datos pueden estar sujetos a las políticas de privacidad de dichos servicios.
                  </li><br>
                  <li><strong>Cookies y tecnologías similares</strong><br> Utilizamos cookies y otras tecnologías de seguimiento para recopilar información sobre tu navegación en nuestra web app. Estas tecnologías nos ayudan a mejorar la funcionalidad y la experiencia del usuario. Puedes ajustar la configuración de tu navegador para rechazar las cookies, pero esto puede afectar el funcionamiento de ciertas características de la web app.</li>
                  <br>

                  <li><strong>Enlaces externos</strong><br> Nuestra web app puede contener enlaces a sitios web de terceros. No nos hacemos responsables de las prácticas de privacidad o el contenido de dichos sitios. Te recomendamos leer las políticas de privacidad de esos sitios antes de proporcionarles información personal.
                  </li><br>

                  <li><strong>Seguridad de la información</strong><br> Implementamos medidas de seguridad razonables para proteger tu información personal contra accesos no autorizados, uso indebido o divulgación. Sin embargo, debes tener en cuenta que ninguna transmisión de datos por Internet puede garantizar una seguridad absoluta.
                  </li><br>

                  <li><strong>Tus derechos</strong><br> Tienes el derecho de acceder, rectificar o eliminar la información personal que nos hayas proporcionado. También puedes oponerte al procesamiento de tu información personal o solicitar la limitación de dicho procesamiento. Para ejercer tus derechos o para cualquier consulta relacionada con nuestra política de privacidad, puedes contactarnos a través de la siguiente dirección de correo electrónico:<strong> <code>info@doitminka.com</code></strong> 
                  </li><br>

                  <li><strong>Cambios en la política de privacidad</strong><br> Nos reservamos el derecho de actualizar o modificar esta política de privacidad en cualquier momento. Te recomendamos revisar periódicamente esta página para estar informado sobre los cambios. La fecha de entrada en vigencia se indica al comienzo de este documento.</li><br>
                </ol>
              </div>
            
          
            </div>
          </div>
        
        </div>
      </div>
    </div>

</div>
