
<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">Mis Proyectos</h4>
        </div>
        <div class=" card-body">
          <div class=" table-responsive">
            <table class=" table tablesorter" id="">
              <thead class=" text-primary">
                <tr>
                  <th>Empresas</th>
                  <th>Titulo del proyecto</th>
                  <th>Fecha limite</th>
                  <th class=" text-center">Presupuesto</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Inditex</td>
                  <td>Reparación y mantenimiento de sistemas de iluminación </td>
                  <td>30/09/2023</td>
                  <td class=" text-center">€36,738</td>
                </tr>
                <tr>
                  <td>Repsol</td>
                  <td>Instalación de sistemas de climatización y ventilación</td>
                  <td>15/12/2023</td>
                  <td class=" text-center">€23,789</td>
                </tr>
                <tr>
                  <td>SEAT</td>
                  <td>Reparación de equipos y maquinaria</td>
                  <td>31/10/2023</td>
                  <td class=" text-center">€56,142</td>
                </tr>
                <tr>
                  <td>HELLER Ibérica</td>
                  <td>Reparación de Centros de mecanizado de 4 ejes H</td>
                  <td>30/11/2023</td>
                  <td class=" text-center">€38,735</td>
                </tr>
                <tr>
                  <td>Iberdrola</td>
                  <td>Análisis de consumos</td>
                  <td>15/10/2023</td>
                  <td class=" text-center">€63,542</td>
                </tr>
                <tr>
                  <td>Telefónica</td>
                  <td>Reparación de cableado estructurado</td>
                  <td>01/12/2023</td>
                  <td class=" text-center">€78,615</td>
                </tr>
                <tr>
                  <td>Airbus</td>
                  <td> Servicios de reparación en ensamblaje de aeronaves.</td>
                  <td>31/01/2025</td>
                  <td class=" text-center">€98,615</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
